<div ng-show="show_menu" class="global-menu">
<div ng-show="show_menu" class="inner_menu">
  <div class="icon_container">
    <i class="material-icons" style="opacity:100%">home</i>
    <i class="material-icons" style="opacity:100%">home</i>
    <i class="material-icons">home</i>
    <i class="material-icons">watch_later</i>
    <i class="material-icons">library_music</i>
    <i class="material-icons">cloud</i>
    <i class="material-icons">lightbulb_outline</i>
    <i class="material-icons">settings</i>

</div>
</div>
</div>
